<form action="/athletes" method="post">
  <%= auth_token %>

  <label>First Name
  <input name="athletes[first_name]" type="text">
  </label>

  <label>Last Name
  <input name="athletes[last_name]" type="text">
  </label>
  
  <select name="athletes[country_id]">
    <% @countries.each do |country|%>
      <option value="<%= country.id %>"><%= "#{country.name} : #{country.abbreviated_name}"%></option>
    <% end %>
  </select>

  <input type="submit">Create New</input>

</form>
